<html>
  <head>
    <title>{{ summoner.name }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'basicLOL/global.css' %}" />
  </head>
  <body>
    <div id="content" class="clearfix">
		<section id="left">
			<div id="userStats" class="clearfix">
				<div class="pic">
					<a href="#"><img src="{% static 'images/user_avatar.jpg' %}" width="150" height="150" /></a>
				</div>

				<div class="data">
					<h1>{{ summoner.name }}</h1>
					<h3>{{ summoner.region }}</h3>
					<div class="sep"></div>
					<ul class="numbers clearfix">
						<li>Level<strong>{{ summoner.summoner_level }}</strong></li>
						<li>Total games<strong>344</strong></li>
						<li class="nobrdr">Games today<strong>2</strong></li>
					</ul>
				</div>

				<div class="ranks">
					<ul class="ranks clearfix">
						<li>Team 3v3<strong><a href="#"><img src="{% static 'images/rank.png' %}" width="150" height="150" /></a> </strong></li>
						<li>Solo 5v5<strong><a href="#"><img src="{% static 'images/rank.png' %}" width="150" height="150" /></a></strong></li>
						<li class="nobrdr">Team 5v5<strong><a href="#"><img src="{% static 'images/rank.png' %}" width="150" height="150" /></a></strong></li>
					</ul>
				</div>
			</div>

			<div class="text">
				<h1>About Me:</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</section>
	</div>
  </body>
</html>
